# aliases

alias cp="cp -i"
alias df="df -h"
alias free="free -m"
alias grep="grep --colour=auto"
alias ls="ls -Fh --color=auto"
alias mv="mv -i"
alias rm="rm -i"

if [[ ${USER} = "root" ]]; then
  alias vihosts="${EDITOR} /etc/hosts"
else
  alias vihosts="sudo ${EDITOR} /etc/hosts"
  alias mtr="sudo mtr"
fi
