export HISTSIZE=2000
export HISTFILE="$HOME/.history"

export SAVEHIST=$HISTSIZE

setopt hist_ignore_all_dups
setopt hist_ignore_space

bindkey -v
bindkey '\e[3~' delete-char
bindkey '^R' history-incremental-search-backward
